{#继承base模板#}
{% extends "base/base.html" %}
{% load static %}
{#css#}
{% block extcss %}
    <link rel="stylesheet" href="{% static "cart/css/cart.css" %}">
{% endblock %}
{#js#}
{% block extjs %}
    <script src="{% static "cart/js/cart.js" %}"></script>
{% endblock %}
{#标题#}
{% block title %}购物车{% endblock %}
{#body内容#}
{% block content %}
    <div class="cart">
        <ul>
            {% for cart in carts %}
                <li class="goods">
                    <div class="confirm-wrapper" cartid="{{ cart.id }}">
                        {% if cart.is_select %}
                            <span class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            <span class="no"></span>
                        {% endif %}
                    </div>
                    <div class="content-wrapper">
                        <div class="img">
                            <img src="{{ cart.goods.productimg }}" alt="">
                        </div>
                        <div class="detail">
                            <p class="name">
                                {{ cart.goods.productlongname }}
                            </p>
                            <p class="price" price="{{ cart.goods.marketprice }}">
                                ￥{{ cart.goods.marketprice }}
                            </p>
                            <p class="num" number="{{ cart.number }}">
                                x{{ cart.number }}
                            </p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>

        <div class="bill">
            <div class="bill-left">
                <div class="all">
                    <span class="no" isselect="false"></span>
                    <b>全选</b>
                </div>
                <div class="total">
                    <span>总计:￥</span>
                    <b>0</b>
                </div>
            </div>
            <div class="bill-right" id="placeorder">
                下单
            </div>
        </div>
    </div>
{% endblock %}