{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "base/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "base/css/reset.css" %}">
    <link rel="stylesheet" href="{% static "base/css/swiper.css" %}">
    <link rel="stylesheet" href="{% static "base/css/base.css" %}">
    {#css#}
    {% block extcss %}
    {% endblock %}
    <script src="{% static "base/js/jquery.js" %}"></script>
    <script src="{% static "base/js/bootstrap.js" %}"></script>
    <script src="{% static "base/js/swiper.js" %}"></script>
    <script src="{% static "base/js/base.js" %}"></script>
    {#js#}
    {% block extjs %}
    {% endblock %}
    <meta charset="UTF-8">
    {#tltle#}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{#header begin#}
{% block header %}
    <header>爱鲜蜂</header>
{% endblock %}
{#header end#}

{#content begin#}
<div class="hidescroll">
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</div>
{#content end#}

{#footer begin#}
{% block footer %}
    <footer>尾部</footer>
{% endblock %}
{#footer end#}
</body>
</html>