{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {#tltle#}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "base/css/reset.css" %}">
    <link rel="stylesheet" href="{% static "base/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "base/css/bootstrap-theme.css" %}">
    <link rel="stylesheet" href="{% static "base/css/swiper.css" %}">
    <link rel="stylesheet" href="{% static "base/css/base.css" %}">
    {#css#}
    {% block extcss %}
    {% endblock %}
    <script src="{% static "base/js/jquery.js" %}"></script>
    <script src="{% static "base/js/bootstrap.js" %}"></script>
    <script src="{% static "base/js/swiper.js" %}"></script>
    <script src="{% static "base/js/jquery.cookie.js" %}"></script>
    <script src="{% static "base/js/base.js" %}"></script>
    {#js#}
    {% block extjs %}
    {% endblock %}
</head>
<body>
{#header begin#}
{% block header %}
    <header>爱鲜蜂</header>
{% endblock %}
{#header end#}

{#content begin#}
<div class="hidescroll">
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</div>
{#content end#}

{#footer begin#}
{% block footer %}
    <footer>
        <a href="{% url "axf:home" %}" class="home">
            <dl>
                <dt><span></span></dt>
                <dd>首页</dd>
            </dl>
        </a>
        <a href="{% url "axf:market" 0 0 %}" class="market">
            <dl>
                <dt><span></span></dt>
                <dd>闪购超市</dd>
            </dl>
        </a>
        <a href="{% url "axf:cart" %}" class="cart">
            <dl>
                <dt><span></span></dt>
                <dd>购物车</dd>
            </dl>
        </a>
        <a href="{% url "axf:mine" %}" class="mine">
            <dl>
                <dt><span></span></dt>
                <dd>我的</dd>
            </dl>
        </a>
    </footer>
{% endblock %}
{#footer end#}
</body>
</html>